/* Add padding to terminal */
VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 10px;
    -VteTerminal-inner-border: 10px;
}

/* Custom code to reduce titlebar size */
window.ssd headerbar.titlebar {
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 0;
}
window.ssd headerbar.titlebar button.titlebutton {
    padding: 1px;
    min-height: 0;
    min-width: 0;
}

/* native wayland ssd windows */
.default-decoration {
    padding: 3px;
    min-height: 0;
    /* remove border between titlebar and window */
    border: none;
    background-image: linear-gradient(to bottom,
     shade(@theme_bg_color, 1.05),
     shade(@theme_bg_color, 1.00));
    box-shadow: inset 0 1px shade(@theme_bg_color, 1.4);
}

.default-decoration .titlebutton {
    padding: 0px;
    min-height: 0;
    min-width: 0;
}
