set -g default-command "/bin/zsh"
set -g default-shell "/bin/zsh"
set-option -g update-environment "PATH"

set -g base-index 1
set -g renumber-windows on
set -g detach-on-destroy off
set -g set-clipboard on
set -g default-terminal "screen-256color"

setw -g mode-keys vi

set-option -g mouse on

bind-key C-k resize-pane -U 5
bind-key C-j resize-pane -D 5
bind-key C-h resize-pane -L 5
bind-key C-l resize-pane -R 5

# list of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'

# initialize tmux plugin manager
run "${XDG_DATA_HOME}/tmux/plugins/tpm/tpm"
